/* CSS Document */

body,html{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.box{
	background-color: aliceblue;
	padding: 30px;
	outline: 2px dashed black;
 	outline-offset: -10px;
}

.box > button{
	background-color: black;
	color: white;
	border: solid 1px white;
	border-radius: 5px;
	padding: 5px;
}



